@model ComputerStore.Areas.Staff.ViewModels.CategoryFormModel

<div class="struct-block">
    <h1 class="text-center">Add Category</h1>
    <hr />
    <div class="row">
            <form asp-action="Create" enctype="multipart/form-data" method="post">
                <div class="form-group mb-3">
                    <label asp-for="Category.Name" class="control-label"></label>
                    <input asp-for="Category.Name" class="form-control" />
                </div>
                <input class="form-control" type="file" accept=".png" asp-for="ThumbnailFile" />
                <div class="form-group text-end">
                    <a class="btn light-btn" asp-action="Index">Back</a>
                    <button type="submit" class="btn active-btn">Create</button>
                </div>
            </form>
    </div>
</div>
