@using ComputerStore.Utilities;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ComputerStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ComputerStore.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom_styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/staff_menu.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/global_styles.css" asp-append-version="true" />
</head>
<body>
    <script>
        function hideMenu() {
            var element = document.getElementById("sideMenu");
            element.classList.add("menu-hide");
        }
        function openMenu() {
            var element = document.getElementById("sideMenu");
            element.classList.remove("menu-hide");
        }
    </script>
    <div class="open-menu-btn" onclick="openMenu()">
        <img class="icon" height="24" width="24" src="~/icons/menu-icon-black.png" alt="">
    </div>
    <div class="class-menu-block dark-bg" id="sideMenu">
        <div>
            <div class="hide-menu-btn" onclick="hideMenu()">
                <span style="margin-left: 7px">&#10094;</span>
            </div>
            <a class="menu-item" asp-area="Staff" asp-action="Index" asp-controller="Orders">
                <img class="icon me-2" height="24" width="24" src="~/icons/orders-white-icon.png" alt="">
                Orders
            </a>
            <a class="menu-item" asp-area="Staff" asp-action="Index" asp-controller="Items">
                <img class="icon me-2" height="24" width="24" src="~/icons/items-white-icon.png" alt="">
                Items
            </a>
            <a class="menu-item" asp-area="Staff" asp-action="Index" asp-controller="Categories">
                <img class="icon me-2" height="24" width="24" src="~/icons/categories-white-icon.png" alt="">
                Categories
            </a>
            @if(User.IsInRole(RolesContainer.ADMINISTRATOR))
            {
                <a class="menu-item" asp-area="Staff" asp-action="Index" asp-controller="Roles">
                    <img class="icon me-2" height="24" width="24" src="~/icons/roles-white-icon.png" alt="">
                    Roles
                </a>
            }
        </div>
        <div>
            <a class="menu-item" asp-area="" asp-controller="Home" asp-action="Index">
                <img class="icon me-2" height="24" width="24" src="~/icons/home-white-icon.png" alt="">
                Main Hub
            </a>
        </div>
    </div>
    <div class="col-sm-12 col-md-10 col-lg-7 mx-auto mt-3">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
