@model string
@{
    string errorMessage = Model??string.Empty;
}

<div class="container-fluid struct-block">
    <div class="row">
        <div class="col-6 mx-auto text-center">
            <h2 class="mb-2">Error ocured</h2>
            <p>@errorMessage</p>
            <a class="btn active-btn">To Home</a>
        </div>
    </div>
</div>
