<div class="container">
    <div class="row">
        <div class="col-4 mx-auto p-5 struct-block d-flex flex-column">
            <h2 class="mx-2 text-center">Success!</h2>
            <a asp-action="Index" asp-controller="Home" class="btn active-btn mb-2">To Store</a>
        </div>
    </div>
</div>
