<h1>HOME PAGE (NO AREA)</h1>
<a asp-area="Customer" asp-controller="Home" asp-action="Index">Go to Customer Home</a>
<a asp-area="Manager" asp-controller="Home" asp-action="Index">Go to Manager Home</a>
