@model ComputerStore.Areas.Customer.ViewModels.ItemsListViewModel

<div class="container mt-4 col-md-7 col-sm-12 mx-auto">
    <div class="row">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a asp-action="Index" asp-controller="Home" class="styless-link">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a asp-action="Index" asp-controller="Categories" class="styless-link">Categories</a>
                </li>
                <li class="breadcrumb-item active styless-link" aria-current="page">
                    @Model.Title
                </li>
            </ol>
        </nav>
    </div>
    <div class="row g-1">
        <div class="col d-flex">
            <h4 class="my-auto"> <b>@Model.Title</b> <span class="styless-link">Items: @Model.Count</span></h4>
        </div>
        <div class="col text-end">
            <div class="dropdown">
                <a class="btn btn-light dropdown-toggle light-text" href="#" id="navbarDarkDropdownMenuLink"
                   role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    sort by:
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                    <li><a class="dropdown-item" href="#">sort by: cost up</a></li>
                    <li><a class="dropdown-item" href="#">sort by: cost down</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row g-1 mt-2">
        <partial name="_ItemsListPartial" model="@Model.Items" />
    </div>
</div>