@{//model ItemFormModel
}

@{
    ViewData["Title"] = "Create";
/*}

<h1>Create</h1>

<h4>Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data" method="post">
            <div class="form-group">
                <label asp-for="Item.Name" class="control-label"></label>
                <input asp-for="Item.Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Item.Description" class="control-label"></label>
                <input asp-for="Item.Description" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Item.Price" class="control-label"></label>
                <input asp-for="Item.Price" class="form-control" />
            </div>
            <select class="form-select" aria-label="Default" asp-for="SelectedCategoryId">
                <option selected>Open this select menu</option>
                @foreach(var item in Model.Categories)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
            <input type="file" accept=".jpeg" asp-for="ImageFile"/>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
*/}