@model ComputerStore.ViewModels.ItemFormModel
<div class="struct-block">
    <h1 class="text-center">Add Item</h1>
    <hr/>
    <div class="row">
        <div>
            <form asp-action="Create" enctype="multipart/form-data" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Item.Id" />
                <div class="form-group mb-3">
                    <label asp-for="Item.Name" class="control-label">Item name</label>
                    <input asp-for="Item.Name" class="form-control" />
                    <span asp-validation-for="Item.Name" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Item.Description" class="control-label">Description</label>
                    <textarea asp-for="Item.Description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    <span asp-validation-for="Item.Description" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Item.Price" class="control-label">Cost</label>
                    <input asp-for="Item.Price" class="form-control" />
                    <span asp-validation-for="Item.Price" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Item.Image" class="control-label">Image</label>
                    <input asp-for="ImageFile" type="file" accept=".jpeg" class="form-control" />
                    <span asp-validation-for="Item.Price" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label class="control-label">Category</label>
                    <select class="form-select" aria-label="Default" asp-for="SelectedCategoryId">
                        <option class="form-control" selected>Open this select menu</option>
                        @foreach (var category in Model.Categories)
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    </select>
                </div>
                <div class="form-group text-end">
                    <a class="btn light-btn" asp-action="Index">Back</a>
                    <button type="submit" class="btn active-btn">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>