@page
@model ForgotPasswordModel

<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 mx-auto struct-block">
        <form method="post">
            <h4 class="text-center">Reset password</h4>
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="mb-3">
                <label asp-for="Input.Email" class="form-label">Email</label>
                <input asp-for="Input.Email" class="form-control textbox-style" autocomplete="username" aria-required="true" placeholder="name@example.com">
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="d-flex flex-column text-center">
                <button type="submit" class="btn active-btn mb-2">Reset</button>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
