@using ComputerStore.Utilities;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ComputerStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ComputerStore.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom_styles.css" asp-append-version="true" />
</head>
<body>

    @{
        bool UserIsStaff()
        {
            return User.IsInRole(RolesContainer.MANAGER) || User.IsInRole(RolesContainer.ADMINISTRATOR);
        }
    }

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ComputerStore</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @if (UserIsStaff())
                {
                    // when i fix it
                }
                <a class="nav-item" asp-area="Staff" asp-controller="Home" asp-action="Index">Staff</a>
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 col-sm-12 mx-auto">
                            <form class="d-flex" id="search-form" method="get" action="/Items/Search">
                                <div class="input-group">
                                    <input id="search-input" class="form-control search-textbox-style" type="text" placeholder="Search..."
                                           name="value">

                                    <button class="btn search-btn-style" type="submit">
                                        <img src="~/icons/icons8-search-64.png" width="24" height="24" style="opacity:50%;"/>
                                    </button>
                                </div>
                            </form>

                            <script>
                                document.getElementById('search-form').addEventListener('submit', function () {
                                    var searchValue = document.getElementById('search-input').value;
                                    this.action = "/Items/Search?value=" + encodeURIComponent(searchValue);
                                });
                            </script>

                        </div>
                    </div>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <partial name="_LoginPartial"/>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="height:50px !important;">
        <div class="container text-center">
            &copy; 2023 - ComputerStore
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
